<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="padding: 30px">
<h1>{{ data['title'] }}</h1>
<h3>{{ data['description'] }}</h3>
{% for el in data['array'] %}
<p><a href='{{ el["id"] }}'>{{ el['nom'] }}</a></p>

{% endfor %}
</body>
</html>